<div class="iframe-wrapper">
    <!-- <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fshelterdogpage&width=70&layout=button&action=like&size=large&show_faces=false&share=false&height=65&appId=2353715348233695"
        width="70" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe> -->
    <!-- <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fshelterdogpage&width=450&layout=standard&action=like&size=large&show_faces=false&share=false&height=35&appId=2353715348233695"
        height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fshelterdogpage&width=100&layout=button_count&action=like&size=large&show_faces=false&share=false&height=21&appId=2353715348233695"
        width="100" height="42" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe>
</div>

<div class="cta-facebook-like" (click)="openFacebookPage()">
    <img class="desktop"  src="../../../../assets/imgs/cta_facebook_like.png" alt="페이스북 공유시 새로운 사이다 썰을 만나 볼 수 있습니다.">
    <img class="mobile" src="../../../../assets/imgs/cta_facebook_like_mobile.png" alt="페이스북 공유시 새로운 사이다 썰을 만나 볼 수 있습니다.">

</div>