<!-- <p-listbox *ngIf="isShowRecommendation" [options]="recommendations" [(ngModel)]="selectedRecommendation" (onChange)="goToRecommendation($event)"></p-listbox> -->
<div style="margin-top:30px;" *ngIf="!isMobile" >
  <!-- 왼쪽 수직배너 -->
  <ins class="side-banner-ad" *ngIf="!isMobile" class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-2127030706496959"
    data-ad-slot="1681499214"></ins>
</div>


<!-- left -->

<!-- <div>
  <ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-2127030706496959" [attr.data-ad-slot]="1"
    data-ad-format="auto"></ins>
</div>
<br> -->