<div class="p-grid p-justify-between p-align-center detail-header">
    <div class="p-col refuge-name" (click)="goToList()">
        <span [ngStyle]="{'color': getRefugeTitleColor(item?.Refuge)}">
            {{item?.Refuge?.name}}
        </span> 도피처
    </div>
    <div class="p-col" *ngIf="item.isAdmin" style="text-align:right">
        <button (click)="toTrashCan()" pButton type="button" label="Archive" class="tool-btns "></button>
    </div>
</div>

<p-panel class="ui-panel article-content-panel ">

    <p-header>
        <div class="article-header" [ngClass]="{'mobile':isMobile}">
            <div class="title-col">
                <span class="article-title">{{item.title}}</span>
                ({{item.RefugeArticleComments?.length}})

            </div>
            <div class="article-header-additional-info">
                <div class="article-header-name">
                    {{findHeader(item.header_id)}}
                </div>
                <div class="article-hit" style="display:inline-flex ; align-items: center">
                    <i class="far fa-eye" style="margin-right:5px"></i> {{item.hit}}
                </div>

                <div class="article-author">
                    {{ item.anonymous ? '익명' : item.UserProfile?.nickname}}
                </div>
            </div>
        </div>
        <div class="subheader-row" *ngIf="item.isAdmin">
            {{ item?.created_at ? convertTime(item?.created_at) : '' }}
        </div>
        <div *ngIf="item.isMe" class="p-col" style="width:100%; display: inline-flex; justify-content: flex-end;  text-align:right">
            <button *ngIf="item.isMe" (click)="updateArticle()" pButton type="button" label="수정" class="tool-btns ui-button-secondary "></button>
            &nbsp;
            <button *ngIf="item.isMe" (click)="deleteArticle()" pButton type="button" label="삭제" class="tool-btns ui-button-secondary "></button>
        </div>
    </p-header>
    <!-- <hr class="article-seperator"> -->


    <!-- <div id="customEditor">
    </div> -->
    <!-- [ngClass]="{'not-login':!isLoggedIn}" -->
    <div class="article-content">
        <p-editor [(ngModel)]="item.content" [readonly]="true">
        </p-editor>
    </div>


    <div class="article-middle-tools">
        <div style="flex:1" class="list-nav-btn-wrapper">
            <button (click)="goToList()" pButton type="button" label="목록" class="ui-button-rounded ui-button-secondary"></button>
            <!-- <span *ngIf="isMobile" class="list-nav-btn" (click)="goToList()">
                <i class="fas fa-list-ul"></i>
            </span> -->
        </div>
        <div class="empathy-tool" style="flex:1">
            <div class="empathy-btn" (click)="empathize()" *ngIf="!item.isUserEmpathy">
                <div>
                    <!-- <i class="far fa-laugh"></i> -->
                    존중!
                </div>
            </div>
            <div class="empathy-btn" *ngIf="item.isUserEmpathy" (click)="cancelEmpathy()">
                <div style="font-size : 12px;">
                    <!-- <i class="far fa-laugh"></i> -->
                    존중 취소
                </div>
            </div>
            <div>
                {{item.empathyCount}}
            </div>
        </div>
        <div class="report-btn" style="flex:1">
            <button (click)="reportArticle()" pButton type="button" label="신고" class="ui-button-rounded ui-button-secondary"></button>
            <!-- <span *ngIf="isMobile" class="list-nav-btn" (click)="reportArticle()">
                    <i class="fas fa-exclamation-circle"></i>
            </span> -->
        </div>
    </div>
    <!-- <div class="article-share-tool">
        <a id="kakao-link-btn" (click)="shareClick()">
            <img src="../../../assets/brands/kakaolink_btn_small.png" alt="카톡으로 공유하기">
            <span>
                공유하기
            </span>
        </a>
    </div> -->

    <!-- <p-messages [(value)]="empathyResultMsgs"></p-messages> -->
    <div id="void-only-focus">
    </div>
    <!-- <hr class="article-seperator"> -->
    <!-- [ngClass]="{'not-login':!isLoggedIn}" -->
    <p-footer>
        <div class="article-footer-wrapper">

            <div class="comment-area-header">
                댓글목록 ({{item.RefugeArticleComments?.length}})
            </div>
            <p-dataView [value]="item.RefugeArticleComments " [style]="{'margin-bottom':'10px'}" emptyMessage="댓글이 없습니다.">
                <ng-template let-comment pTemplate="listItem">
                    <div class="comment-wrapper" [id]="'comment'+comment.id" [ngClass]="{'ctc': comment.parent} ">
                        <div class="comment-header" [ngClass]="{'self-comment' : item.anonymous ? false :   comment.user_id == item.user_id , 'comment-author-is-me' : comment.user_id == userId  , 'comment-update' : comment.isUpdate  ,       'ctc': comment.parent }">
                            <div class="comment-author">
                                {{comment.anonymous ? '익명' : comment.UserProfile?.nickname}}
                            </div>
                            <div class="comment-created-at" *ngIf="item.isAdmin">
                                {{convertTime(comment.created_at)}}
                            </div>
                        </div>
                        <div class="comment-content" [ngClass]="{'mobile':isMobile}">
                            <div class="content-body">
                                <span *ngIf="comment.mention_id" class="mention-col">
                                    @{{comment.UserProfilesOfMention.nickname }}
                                </span>
                                <span [innerHTML]="comment.content">

                                </span>
                            </div>
                            <!-- <div *ngIf="!isLoggedIn" class="content-body" [innerHTML]="'로그인을 해야 볼 수 있습니다. ㅎ'">
                            </div> -->
                            <div class="comment-tools" [ngClass]="{'mobile':isMobile}">
                                <small *ngIf="item.isAdmin || comment.user_id == userId " class="tool" (click)="deleteComment(comment)">
                                    삭제
                                </small>
                                <small *ngIf="item.isAdmin || comment.user_id == userId">
                                    |
                                </small>
                                <small *ngIf="comment.user_id != userId" class="tool" (click)="reportComment(comment.id)">
                                    신고
                                </small>
                                <small *ngIf="comment.user_id == userId" class="tool" (click)="updateComment(comment)">
                                    수정
                                </small>
                                <small *ngIf=" !comment.anonymous">
                                    |
                                </small>
                                <small class="tool" (click)="appendcommentForm(comment)" *ngIf=" !comment.anonymous">
                                    {{ comment.parent ? '언급' : '대댓글'}}
                                </small>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>


            <div>
                <p-checkbox [(ngModel)]="isCommentAnonymous" label="익명 댓글" binary="true"></p-checkbox>
                <div class="comment-input-form" style="margin-top:3px;">
                    <textarea autoResize="true" maxlength="1999" #userCommentForm pInputTextarea placeholder="다른 사람을 언급할땐 존댓말을 사용해요^^"></textarea>
                    <div class="btn-wrapper">
                        <button (click)="registComment(userCommentForm)" pButton type="button" class="ui-button-info comment-register-btn"
                            label="등록">
                        </button>
                        <button (click)="registComment(userCommentForm,'emphathy')" pButton type="button" class="ui-button-secondary comment-register-empathy-btn "
                            label="등록+존중">
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </p-footer>
</p-panel>

<div *ngIf="!isMobile" style="width:100%; display:inline-flex ; justify-content: center">
    <!-- 일반 데탑 테블릿 가로배너 -->
    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2127030706496959"
        data-ad-slot="7065238125"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div *ngIf="isMobile" style="margin: 15px 0px;  width:100%; display:inline-flex ; justify-content: center">
    <!-- 가로 모바일 배너 -->
    <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-2127030706496959"
        data-ad-slot="6220110065"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<app-refuge-detail #articleList style="margin-top : 30px" *ngIf="detail_refuge_id" [refugeId]="detail_refuge_id"
    [articleId]="articleId"></app-refuge-detail>




<p-toast position="top-right" [key]="articleToastKey"></p-toast>

<p-confirmDialog key="delete" header="삭제 확인" icon="pi pi-exclamation-triangle" width="300"></p-confirmDialog>
<p-confirmDialog key="report" header="신고" icon="pi pi-exclamation-triangle" width="300"></p-confirmDialog>

<div id="commentForm">
    <!-- <div style="margin-top:15px; margin-left:18px;">
        <p-checkbox [(ngModel)]="isCommentAnonymous" label="익명 댓글" binary="true"></p-checkbox>
    </div> -->
    <div class="comment-input-form" style="margin: 18px 0px 0px 18px">
        <textarea autoResize="true" maxlength="1999" #commentFormRef pInputTextarea [placeholder]=" comentFormTarget?.isUpdate ? ''  :  comentFormTarget.anonymous ? '' :  ('@'+ (comentFormTarget ? comentFormTarget?.UserProfile?.nickname : '')) "></textarea>
        <div class="btn-wrapper">
            <button *ngIf="!comentFormTarget.isUpdate " (click)="commentToComment(commentFormRef)" pButton type="button"
                class="ui-button-info comment-register-btn" label="등록">
            </button>
            <button *ngIf="comentFormTarget.isUpdate && !isMobile " (click)="cancelUpdateComment()" pButton type="button"
                style="margin-right :7px;" class="ui-button-info comment-update-cancel-btn " label="취소">
            </button>
            <button *ngIf="comentFormTarget.isUpdate " (click)="registerUpdateComment(commentFormRef)" pButton type="button"
                class="ui-button-info comment-update-btn" label="수정">
            </button>
            <!-- <button (click)="registComment(userCommentForm,'emphathy')" pButton type="button" class="ui-button-secondary comment-register-empathy-btn "
                label="등록+공감">
            </button> -->
        </div>
    </div>
</div>


<!-- <div id="no-user-blocker" *ngIf="!isLoggedIn">
    <div class="message">
        <h2 style="margin-bottom: 35px;">
            Shelter Dog에 로그인하세요!
        </h2>
        <div style="margin-bottom: 35px;">
            바로 모든 것을 열람할 수 있습니다.
        </div>
        <div style="margin-bottom: 35px;">
            쉽고 간단합니다!
        </div>
        <div style="margin-bottom: 35px;">
            무료에요!
        </div>

        <div class="btns">
            <button (click)="showLoginDialog()" pButton type="button" class="ui-button-secondary" id="sign-in-btn"
                label="로그인"></button>
            <button (click)="showSignUpDialog()" pButton type="button" class="ui-button" id="sign-up-btn" label="회원가입"></button>
        </div>
    </div>

</div> -->