<div *ngIf="mainBannerImageUrl" style="background: #fff">
    <img style="margin: 30px 0px;" width="100%" [src]="mainBannerImageUrl" alt="메인  배너">
</div>

<div class="bg-border"> &nbsp;</div>
<app-refuge-list></app-refuge-list>
<div class="bg-border"> &nbsp;</div>
<!-- <app-best-refuge></app-best-refuge> -->
<app-popular-refuge></app-popular-refuge>
<div class="bg-border"> &nbsp;</div>
<app-default-podcast></app-default-podcast>
<div class="bg-border"> &nbsp;</div>
<app-game-area></app-game-area>
<div class="bg-border"> &nbsp;</div>