<p-card title="문의하기">
    <div class="ask-content-wrapper">
        <div>
            안녕하세요! ShelterDog이에요. 멍멍!
        </div>
        <div>
            건전한 싫음 문화를 위해 항상 발로 뛸 거에요.
        </div>
        <div>
            커뮤니티를 이용하시면서 불편한 점이나 문의 사항이 있으면 아래 이메일로 편하게 연락주시기 바랍니다!
        </div>
        <div>
            빠른 시일 내에 연락드리도록 할게요.
        </div>
    </div>


    <div class="contact-email">
        shelter0helper@gmail.com
    </div>


    <p-footer>
        편--안
    </p-footer>
</p-card>
<!-- <p-panel>

    <div>
        <span>
            * 분류
        </span>
        <p-dropdown [options]="askCategories" [(ngModel)]="selectedAskCategory"></p-dropdown>
    </div>
    <div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">
        </div>
    </div>
    <div>
        <textarea [(ngModel)]="askContent"   [rows]="15" pInputTextarea autoResize="autoResize"></textarea>
    </div>

    <p-footer>
        <button (click)="sendAsk()"  pButton type="button" label="문의하기"></button>
    </p-footer>
</p-panel> -->