
:host{
    .ask-card-header{
        font-size: 1.3rem !important;
    }

    .contact-email{
        margin-top: 35px;
        color: blue;
        font-size: 1.1rem;
        font-weight: 600;

    }

    .ask-content-wrapper{
        margin-top: 35px;
        font-size: 1rem; 
        line-height: 1.5;
    }
}